p {
    border-style: solid;
    border-color: purple;
}

li {
    display: inline-block;
    border: solid;
    border-color: blue;
}

.block {
    display: block;
}
 body,p,ul,li {
     padding: .8em;
 }
